header{
	background: #00a8ff;
	padding: 10px 0px;
}
header h1{
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}
.marker{
	background: #E8EAEC;
    padding: 1px 6px;
    border-radius: 5px;
    color: #333;
}
.main-area{
	margin-top: 35px;
}
.main-wrapper{
	padding: 15px 0px;
}
.main-nav-area{
	border: 1px solid #7f8fa6;
	border-radius: 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000;
    background-color: transparent;
}
.nav-pills .nav-link {
    color: #888;
    border-bottom: 1px solid #ddd;
}
.nav-pills .nav-link:last-child{
	border-bottom: none;
}
.box{
	width: 300px;
	height: 200px;
	background: #718093;
	border-radius: 5px;
	margin-bottom: 30px;
}
.show-area .box,
.slide-down-area .box,
.fade-in-area .box
{
	display: none;
}
.animate-area .box,
.stop-area .box,
.queue-area .box{
	width: 0;
	height: 10px;
}